<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YELLOW APP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C31D75F22E29FCC00BB19BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C31D77622E29FCE00BB19BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C31D78122E29FCE00BB19BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
